<h1>Hello World!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus corporis necessitatibus porro ullam, officiis magnam obcaecati sapiente repudiandae earum distinctio, dolorum non quia aut fugiat nemo error omnis mollitia impedit.</p>

<form (ngSubmit)="confirmar()">
  <label for="nome">Nome: </label>
  <input id="nome" [(ngModel)]="nome" type="text" name="nome">
  <br>
  <label for="idade">Idade: </label>
  <input id="idade" [(ngModel)]="idade" type="text" name="idade">

  <button>Confirmar</button>
</form>
